* {
    margin: 0;

    /* sizes border-box to include borders in sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
                                    /* :root Global variables */
:root {    
    /* color variables */
    --color-bg-main: #21242B;
    --color-bg-alt: #4F4F4F;
    --color-font-main: #F2F2F2;
    --color-font-dull: #BDBDBD;
    --color-links-main: #47A0FF;
    --color-links-dull: #5F91C7;
    --color-highlight-main: #C52233;

    /* padding & layout variables */
    --padding-top-bottom: 1.5em 0 1.5em 0;
    --padding-bottom: 0 0 1.5em 0;
    --nav-height: 7.5vh;
    --article-height: 100vh;

    /* animation */
    --animtime-splash: 15s;
    --animtime-link: 0.2s;
}

                                    /* Body & font defaults */

html {
    scroll-behavior: smooth;
}

body {

    background-color: var(--color-bg-main);
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    line-height: 140%;
    color: var(--color-font-main);
}

                              /* Links! http://bit.ly/1PKfDG1 */
a {
    text-decoration: none;
}

a:link {
    color: var(--color-links-main);
    transition: color var(--animtime-link) ease-in-out;
}

a:visited {
    color: var(--color-links-main);
}

a:hover {
    color: var(--color-highlight-main);
}

                                /* Content & Button styling */
.project-img {
    width: 80%;
    border: .2em solid var(--color-highlight-main);
    border-radius: 4px;
}

button {
    display: inline-block;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-links-main);
    padding: 0;

    overflow: hidden;

    font-size: .9em;
    font-weight: bold;
    color: var(--color-bg-main);
    transition: background-color var(--animtime-link) ease-in-out;
}

.btn-menu:hover {
    background-color: var(--color-highlight-main);
}

.btn-link:hover {
    background-color: var(--color-highlight-main); 
}

.btn-submit:hover {
    background-color: var(--color-highlight-main); 
}

.btn-menu {
    width: 20vw;
    max-width: 90px;
    height: 40px;
    margin: 2px;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 18vw;
    height: 18vw;
    max-width: 80px;
    max-height: 80px;
    margin: 5px;
    font-size: 3.0em;
}

.btn-submit {
    display: inline-block;
    border: 0px solid;
    border-radius: 6px;
    background-color: var(--color-links-main);
    padding: 0;
    width: 22vw;
    max-width: 100px;
    height: 40px;

    overflow: hidden;

    font-size: .9em;
    font-weight: bold;
    color: var(--color-bg-main);
    transition: background-color var(--animtime-link) ease-in-out;

    /* hacks right side of box into place */
    position: relative;
    right: 0
}

/* Horizontal Line */
.hr { 
    display: block;
    align-self: center;
    width: 80%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    border: 2px solid var(--color-highlight-main);
} 

                                    /* LAYOUT AND FORMATTING */
                                               /* Headers! */

/* Generic Header padding */
header {
    padding: var(--padding-top-bottom);
}

h1 { /* Splash Header */
    font-family: 'Pacifico', cursive;
    font-size: 3.5em;
    line-height: 110%;
    font-weight: normal;    
    text-align: center;
}

h2 { /* Main Header */
    font-family: 'Pacifico', cursive;
    font-size: 2.7em;
    line-height: 110%;
    font-weight: normal;
    /* text-align: right; */
}

h3 { /* Section Header */
    font-family: 'Pacifico', cursive;
    font-size: 1.4em;
    font-weight: normal !important;
    line-height: 110%;

    /* move it to the side magic */
    position: relative;
    left: -20px;
}

                                            /* Media Queries */
@media (min-width: 400px) {
    content {

    }
    
    aside {

    }
}

@media (min-width: 760px) {

    body {
        font-size: 18px;
    }
    
    content {
        max-width: 50%;
    }
    
    aside {
        max-width: 50%;
        display: flex;
        justify-content: flex-end !important;
    }

    /* remove drop shadow on wave effect in mobile for speed */
    .wave {
        filter: drop-shadow( 20px 0px 6px #456990 );
    }

    .wave2 {
        filter: drop-shadow( 15px 0px 3px #BDBDBD );
    }
    
    .wave3 {
        filter: drop-shadow( 20px 0px 5px #C52233 );
    }
    
}

                                        /* Global container: */

/* W/H 100VW/VM, 2 section flex column */ 
.container {
    display: flex;
    flex-direction: column-reverse;
    

    width: 100vw;
    height: 100vh;

    background-color: var(--color-bg-main);
}

                                    /* Main, Nav Container */
main {
    flex: 1;
    padding: 0 10vw 0 10vw;
    overflow: auto;
    scroll-behavior: smooth;
}

nav {
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
}

                                /* Section (page) containers */

section {
    min-height: var(--article-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Article flexbox for responsive jam */
article {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

/* flip pics to the right for widescreen */
article.projects, article.contact {
    flex-direction: row-reverse;
}

/* text mostly */
content {
    width: 100%;

    padding: var(--padding-bottom);
    padding-right: 0px;
}

/* images & icons */
aside {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* text-align: center; */

    width: 100%;

    padding: var(--padding-bottom);
}
                                /* popup navigation menu */

.popupcontainer {
    position: absolute;
    top: -50px;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 50px;
    min-width: 310px;

    margin: 0;
    padding: 0 6px 0 10px;

    list-style-type: none;
    /* border-radius: 0 0 6px 6px;
    background-color: var(--color-bg-main); */
    z-index: 3;

    transform-origin: 0% 0%;
    /* transform: translate(-120%, 0); */
    transform: translate(0, -110%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.navicontainer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    list-style-type: none;
    border-radius: 0 0 6px 6px;
    background-color: var(--color-bg-main);
    z-index: 3;

    margin: 0;
    padding: 0;

}

#menucheckbox
{
    position: absolute;
    top: 7vh;
    left: 0px;
    width: 80px;
    height: 50px;
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 4;
    
    border-radius: 0 6px 6px 0;
    background-color: var(--color-links-main);
    color: var(--color-bg-main);
    font-weight: 700;

    user-select: none;
}

/* #menucheckbox:hover {
    background-color: var(--color-highlight-main);
} */

#menucheckbox input {
    position: absolute;
    left: 0;
    top: -5px;
    display: block;
    width: 80px;
    height: 50px;
    
    opacity: 0;
    cursor: pointer;
}

#menucheckbox input:checked ~ div {
    transform: none;
}



                                /* linear navigation menu */

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-content: space-between;
    min-width: 300px;

    /* opacity: 0; */
}

                                        /* icon containers */

.iconcontainer {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 64vw;
    height: auto;
    max-width: 270px;
    max-height: 270px;
}

form {
    display: block;
    text-align: right;
    padding: 0px;
}

textarea, input {
    width: 80%;
    box-shadow: none;
    outline: none;
    resize: none;
    border: 0;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    font-size: 1em;

    background-color: var(--color-bg-alt);
    color: var(--color-font-main);

    /* hacks right side of box into place */
    position: relative;
    right: -.25em;
}

input::placeholder, textarea::placeholder {
    text-align: right;
    color: var(--color-font-dull);
}

input:focus, textarea:focus {
    background-color: var(--color-links-dull);
}

                                /* Splash Sinewave Animation */

.wavecontainer {
    position: relative;
    left: -10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 300px;
    width: 100vw;

    z-index: 0;
    overflow: hidden;
}

.splashhead {
    position: relative;
    z-index: 2;
    text-shadow: 0px 0px 10px var(--color-bg-main);
}

.wave {
  position: absolute;
  background: url(/assets/images/splashwave/splashwave-blue.svg)  repeat-x;
  width: 6400px;
  height: 210px;
  animation: sineanim calc(var(--animtime-splash) * 1.0) linear infinite;
  /* filter: drop-shadow( 20px 0px 6px #456990 ); */
  z-index: 1;
}

.wave2 {
  position: absolute;
  background: url(/assets/images/splashwave/splashwave-grey.svg) repeat-x;
  width: 6400px;
  height: 210px;
  animation: sineanim calc(var(--animtime-splash) * 0.666) linear infinite;
  /* filter: drop-shadow( 15px 0px 3px #BDBDBD ); */
  opacity: .4;
}

.wave3 {
  position: absolute;
  background: url(/assets/images/splashwave/splashwave-red.svg) repeat-x;
  width: 6400px;
  height: 210px;
  animation: sineanim calc(var(--animtime-splash) * (0.333)) linear infinite;
  /* filter: drop-shadow( 20px 0px 5px #C52233 ); */
  opacity: .6;
  
}

@keyframes sineanim {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

                                    /* WaveHeader Graphic */

.h3container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 90vw;
    height: 90px;

    z-index: 0;
    overflow: hidden;
}

.waveheader {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10vw 0 0;

    width: 400px;
    height: 65px;
    background-image: url(/assets/images/headerwave.png);
    background-size: 100% 100%;
}
